/*reset le css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*prend toute la page*/
  html, body {
    height: 100%;
  }

/*structure du corps du site*/
  body {
    display: flex;
    flex-direction: column;
  }

 header {
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
 }

/*contenue principal du site*/
  main {
    flex: 1; /* Prend tout l'espace disponible */
    margin-left: 15%;
  }

/*bas du site*/
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }

  .form-container {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  #sombre{
    background-color: black;
    color: white;
  }